.text {
    @apply font-medium;
    font-size: 1rem;
    align-self: start;
    @apply m-3;
}

.add-task {
    width: 375px;
    height: 812px;
    @apply border border-gray-300 rounded-lg;
    @apply flex flex-col items-center;
}

.add-task-info {
    width: 90%;
    height: 90%;
    @apply flex flex-col items-center justify-center;
}

.add-task-name {
    @apply rounded-lg m-2 max-w-xs;
}

.ant-input {
    @apply rounded-lg !important;
}

.add-task-tag {
    @apply h-2 m-4 !important;
}

.dl-task-date {
    @apply m-2 !important;
}

.dl-task-time {
    @apply m-2 !important;
}

.cus-options {
    @apply mr-2;
    min-width: 2.5rem;
}

.cancel-button {
    @apply bottom-px m-0 box-border h-11 w-80 inline-block px-6 py-2.5 rounded-lg !important;
    /* @apply bg-red-500 text-white !important; */
} 

.cancel-button:hover {
    /* @apply bg-red-700 !important; */
}

.add-button {
    @apply bottom-px mt-2 mb-4 w-80 box-border h-11 inline-block px-6 py-2.5 rounded-lg !important;
    @apply bg-black text-white !important;
} 

.add-button:hover {
    @apply bg-neutral-800 !important;
}

.add-task-des {
    @apply rounded-lg m-2 max-w-xs !important;
}

.add-task-upload {
    @apply text-red-500;
}